.aboutSection {
  padding-top: 105px;
  .aboutContent {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 100px;
   font-size: 18px;
   h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
  }
  p{
    a{
      color: $turqoise;
    }
    a:hover {
      color: $orange;
      transition: all 0.5s;
    }
  }
  }

} 